Import using Python

I590 - Applied Data Science

Created by Vivek Vijayaraghavan

Date: 04/04/2019

Objective: Code Portfolio for Import using python

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-using-python" data-toc-modified-id="Import-using-python-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import using python</a></span><ul class="toc-item"><li><span><a href="#Overview" data-toc-modified-id="Overview-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Overview</a></span></li><li><span><a href="#Pre-Requisites" data-toc-modified-id="Pre-Requisites-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Pre-Requisites</a></span></li><li><span><a href="#References" data-toc-modified-id="References-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>References</a></span></li></ul></li><li><span><a href="#Data-Import" data-toc-modified-id="Data-Import-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data Import</a></span><ul class="toc-item"><li><span><a href="#Import-data-from-files" data-toc-modified-id="Import-data-from-files-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Import data from files</a></span></li><li><span><a href="#Import-data-from-web" data-toc-modified-id="Import-data-from-web-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Import data from web</a></span><ul class="toc-item"><li><span><a href="#Import-using-a-WebAPI" data-toc-modified-id="Import-using-a-WebAPI-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>Import using a WebAPI</a></span></li><li><span><a href="#Importing-JSON-data-using-WebAPI" data-toc-modified-id="Importing-JSON-data-using-WebAPI-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Importing JSON data using WebAPI</a></span></li></ul></li><li><span><a href="#JSON-Strings" data-toc-modified-id="JSON-Strings-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>JSON Strings</a></span></li><li><span><a href="#Import-data-from-databases" data-toc-modified-id="Import-data-from-databases-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Import data from databases</a></span></li><li><span><a href="#Importing-datasets" data-toc-modified-id="Importing-datasets-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Importing datasets</a></span></li><li><span><a href="#Importing-RData-files" data-toc-modified-id="Importing-RData-files-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Importing RData files</a></span></li></ul></li><li><span><a href="#Data-Structures" data-toc-modified-id="Data-Structures-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Data Structures</a></span><ul class="toc-item"><li><span><a href="#Lists" data-toc-modified-id="Lists-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Lists</a></span></li><li><span><a href="#Tuples" data-toc-modified-id="Tuples-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Tuples</a></span></li><li><span><a href="#Dataframes" data-toc-modified-id="Dataframes-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Dataframes</a></span></li><li><span><a href="#Loops-&amp;-Functions" data-toc-modified-id="Loops-&amp;-Functions-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Loops &amp; Functions</a></span></li></ul></li></ul></div>

# Import using python

## Overview
In this section we will cover the various ways dtaa can be imported for processing within python. We will start with creating data manually and end with impirt data from databases as well as external sources such as the web.

## Pre-Requisites

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import requests
import io
import random
random.random()
import datetime
import json
import pyreadr

## References
 - [Python 4 Everybody](https://www.py4e.com/book)
 - [Python Software Foundation. 2016.](https://docs.python.org/3/faq/general.html#what-is-python)

# Data Import

## Import data from files

In [2]:
# Reading a csv file with headers
df1 = pd.read_csv("./data/heights.csv")
df1.head()

      earn     height     sex  ed  age   race
0  50000.0  74.424439    male  16   45  white
1  60000.0  65.537543  female  16   58  white
2  30000.0  63.629198  female  16   29  white
3  50000.0  63.108562  female  16   91  other
4  51000.0  63.402484  female  17   39  white

In [3]:
# Reading a csv file without headers
df2 = pd.read_csv("./data/heights_noheader.csv", header=None)
df2.head()

         0          1       2   3   4      5
0  50000.0  74.424439    male  16  45  white
1  60000.0  65.537543  female  16  58  white
2  30000.0  63.629198  female  16  29  white
3  50000.0  63.108562  female  16  91  other
4  51000.0  63.402484  female  17  39  white

In [4]:
# Adding column headers after reading the file...
df2.columns = ["earn", "height", "sex", "ed", "age", "race"]
df2.head()

      earn     height     sex  ed  age   race
0  50000.0  74.424439    male  16   45  white
1  60000.0  65.537543  female  16   58  white
2  30000.0  63.629198  female  16   29  white
3  50000.0  63.108562  female  16   91  other
4  51000.0  63.402484  female  17   39  white

In [5]:
# Reading a text file, parsing the lines and printing the output
fname = "./data/scraping.txt"
try:
    fhandle = open(fname)
except:
    print("Error. Unable to open file...")
    quit()

# Option #1
for line in fhandle:
    print(line.rstrip())

Friday, March 11, 2016
8:35 to 9:35 a.m.
Barona Resort
1932 Wildcat Canyon Road
Lakeside, CA 92040
643765rdddtFriday, March 11, 2016iyfutkdkyrz
ITEM NO.
+1.
The Executive Committee is asked to review and approve the minutes from its
February 12, 2016, meeting.
+3A. Draft Board Business Agenda - March 25, 2016
+3B. Draft Board Policy Agenda --iytdutrs April 8, 2016khnckhnc
+4.

In [6]:
# Reading a tab seperated file without headers and then adding headers
df3 = pd.read_csv("./data/seeds_dataset.txt", sep='\t', header=None)
df3.columns = ['area', 'perimeter', 'compactness', 'length', 'width', 'asymmetry', 'groove_length', 'class']
df3.head()

,area,perimeter,compactness,length,width,asymmetry,groove_length,class
0,15.26,14.84,0.8710,5.763,3.312,2.221,5.220,1
1,14.88,14.57,0.8811,5.554,3.333,1.018,4.956,1
2,14.29,14.09,0.9050,5.291,3.337,2.699,4.825,1
3,13.84,13.94,0.8955,5.324,3.379,2.259,4.805,1
4,16.14,14.99,0.9034,5.658,3.562,1.355,5.175,1

## Import data from web

### Import using a WebAPI

In [7]:
# Reading data directly from the web.
# Here we are reading adult data using the read_table function.
URL ='https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
adult = pd.read_csv(URL)
adult.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

### Importing JSON data using WebAPI

In [8]:
pd.to_datetime(1490195805433, unit='ms')

Timestamp('2017-03-22 15:16:45.433000')

In [9]:
# Import Currency Value for Euro (EUR) from moringstar site based on timestamp
URL ='http://tools.morningstar.it/api/rest.svc/timeseries_price/jbyiq3rhyf?currencyId=EURtype=Morningstar&frequency=daily&startDate=2008-04-01&priceType=&outputType=COMPACTJSON&id=F00000YU62]2]0]FOITA$$ALL&applyTrackRecordExtension=true'
r = requests.get(URL)
df4 = pd.DataFrame(r.json())
df4.columns = ['Timestamp', 'Value (Euro)']
df4.Timestamp = pd.to_datetime(df4['Timestamp'], unit='ms').apply(lambda x: x.date())
df4.head()

    Timestamp  Value (Euro)
0  2017-04-18        15.816
1  2017-04-19        15.792
2  2017-04-20        15.870
3  2017-04-21        15.817
4  2017-04-24        15.999

## JSON Strings
JavaScript Object Notation (JSON) is a lightweight data-interchange format that is easy to read and write for humans, and easy to parse and generate for computers. The JSON format is often used for serializing and transmitting structured data over a network connection. It is used primarily to transmit data between a server and web application, serving as an alternative to XML (EXtensible Markup Language). Twitter stores data in JSON. Interestingly, the Jupyter Notebook that you are working in uses a JSON format to store its data. In general, you can think of the JSON format as a store of data whose structure you do not know at the time of capture, (i.e., unstructured data).

JSON is built on two structures:

A collection of name or value pairs: In various languages, this is realized as an object, record, struct, dictionary, hash table, keyed list, or associative array.
An ordered list of values: In most languages, this is realized as an array, vector, list, or sequence.
You can read more about the JSON encoder and decoder in the Python documentation.

The following example creates a JSON string, and demonstrates how Pandas can be used to read the string.

In [10]:
# Create a JSON string that captures the details of John Smith from New York.
jsonStr = '{\
     "firstName": "John",\
     "lastName": "Smith",\
     "address": {\
         "streetAddress": "21 2nd Street",\
         "city": "New York", \
         "state": "NY",\
         "postalCode": 10021 \
     }, \
     "phoneNumbers": [ \
         "212 555-4321", \
         "646 555-7654" \
     ]\
 }'

print(json.dumps(json.loads(jsonStr), indent=4, sort_keys=True))

{
    "address": {
        "city": "New York",
        "postalCode": 10021,
        "state": "NY",
        "streetAddress": "21 2nd Street"
    },
    "firstName": "John",
    "lastName": "Smith",
    "phoneNumbers": [
        "212 555-4321",
        "646 555-7654"
    ]
}

Pandas has a read_json() method that reads JSON objects into a Pandas Series or DataFrame object.

In [11]:
# Read JSON-formatted data using pandas and print the dataframe.
df = pd.read_json(jsonStr, orient='columns', typ='series')
print(df)

firstName                                                    John
lastName                                                    Smith
address         {'streetAddress': '21 2nd Street', 'city': 'Ne...
phoneNumbers                         [212 555-4321, 646 555-7654]
dtype: object

## Import data from databases

In [12]:
# Importing data from sqllite database...
# The goal is to input an email dataset and identify specific email addresses
# and for those email addresses identify the counts within the data
# and finally print the data.
import sqlite3

# Create a database connection
conn = sqlite3.connect('./data/emaildb.sqlite')
cur = conn.cursor()

#Drop the table if it exists..this will avoid getting table already exists error..
cur.execute('DROP TABLE IF EXISTS Counts')

# Create the table
cur.execute('''
CREATE TABLE Counts (email TEXT, count INTEGER)''')

#Open the text file we will be loading into the database..
fname = './data/mbox-short.txt'
if (len(fname) < 1): fname = 'mbox-short.txt'
fh = open(fname)
for line in fh:
    if not line.startswith('From: '): continue
    pieces = line.split()
    email = pieces[1]
    cur.execute('SELECT count FROM Counts WHERE email = ? ', (email,))
    row = cur.fetchone()
    if row is None:
        cur.execute('''INSERT INTO Counts (email, count)
                VALUES (?, 1)''', (email,))
    else:
        cur.execute('UPDATE Counts SET count = count + 1 WHERE email = ?',
                    (email,))
    conn.commit()

# https://www.sqlite.org/lang_select.html
sqlstr = 'SELECT email, count FROM Counts ORDER BY count DESC LIMIT 10'

for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])

cur.close()

cwen@iupui.edu 5
zqian@umich.edu 4
david.horwitz@uct.ac.za 4
louis@media.berkeley.edu 3
gsilver@umich.edu 3
stephen.marquard@uct.ac.za 2
rjlowe@iupui.edu 2
wagnermr@iupui.edu 1
antranig@caret.cam.ac.uk 1
gopal.ramasammycook@gmail.com 1

## Importing datasets

In [13]:
from sklearn import datasets
iris = datasets.load_iris()
iris.data[1:5]

array([[4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2]])

## Importing RData files
Note that for being able to import Rdata files into Jupyter Notebook, we will first need to install pyreadr package. We do that in the terminal window as follows:

pip install pyreadr

Once the above is successfully run, we can then execute the following...

In [14]:
import pyreadr

result = pyreadr.read_r('./data/iris.RData') # also works for Rds

# done! let's see what we got
# result is a dictionary where keys are the name of objects and the values python
# objects
print(result.keys()) # let's check what objects we got
iris = result["iris"] # extract the pandas data frame for object df1
iris.head()

odict_keys(['iris', 'iris.wide', 'iris.wide2', 'iris.tidy'])

  Species  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0  setosa           5.1          3.5           1.4          0.2
1  setosa           4.9          3.0           1.4          0.2
2  setosa           4.7          3.2           1.3          0.2
3  setosa           4.6          3.1           1.5          0.2
4  setosa           5.0          3.6           1.4          0.2

# Data Structures
Variables store information that may change over time. When you need to store longer lists of information, there are additional options available. This section introduces lists and tuples as basic elements. Pandas and NumPy libraries, which offer additional options for data analysis and manipulation.

## Lists
Lists are changeable sequences of values. They are stored within square brackets, and items within a list are separated by commas. Lists can also be modified, appended, and sorted, among other methods.

In [15]:
# Lists.
lst = ['this', 'is', 'a', 'list']
print(lst)

# Print the number of elements in the list.
print('The list contains {} elements.'.format(len(lst)))

# Print the first element in the list.
print(lst[0])

# Print the third element in the list.
print(lst[2])

# Print the last element in the list.
print(lst[-1])

# Appending a list.
print(lst)
lst.append('with')
lst.append('appended')
lst.append('elements')
print(lst)

# Print the number of elements in the list.
print('The updated list contains {} elements.'.format(len(lst)))

# Changing a list.
# Note: Remember that Python starts with index 0.
lst[0] = 'THIS'
lst[3] = lst[3].upper()
print(lst)

# Define a list of numbers.
numlist = [0, 10, 2, 7, 8, 5, 6, 3, 4, 1, 9]
print(numlist)

# Sort and filter list.
sorted_and_filtered_numlist = sorted(i for i in numlist if i >= 5)
print(sorted_and_filtered_numlist)

# Remove the last element from the list.
list.pop(sorted_and_filtered_numlist)
print(sorted_and_filtered_numlist)

['this', 'is', 'a', 'list']
The list contains 4 elements.
this
a
list
['this', 'is', 'a', 'list']
['this', 'is', 'a', 'list', 'with', 'appended', 'elements']
The updated list contains 7 elements.
['THIS', 'is', 'a', 'LIST', 'with', 'appended', 'elements']
[0, 10, 2, 7, 8, 5, 6, 3, 4, 1, 9]
[5, 6, 7, 8, 9, 10]
[5, 6, 7, 8, 9]

## Tuples
Tuples are similar to lists, except that they are defined in parentheses and are unchangeable, which means that their values cannot be modified.

In [16]:
tup = ('this', 'is', 'a', 'bigger', 'tuple')
print(tup)
tup[3]

('this', 'is', 'a', 'bigger', 'tuple')

'bigger'

## Dataframes
DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.

A data frame generally refers to "tabular" data, that is, a data structure representing cases (rows), each of which consists of a number of observations or measurements (columns). Each row may be treated as a single observation of multiple variables (or fields in relational database systems). Each row and each column has the same data type, but the row ("record") data type may be heterogeneous (a tuple of different types), while the column data type must be homogeneous. In addition to the data, data frames usually contain some metadata, for example, column and row names.

In [17]:
# Create a dataframe with random numbers in it..
# Label the columns as A,B,C,D
df5 = pd.DataFrame(np.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])
print(df5)

          A         B         C         D
0 -0.076648 -0.073011  0.330416  0.470063
1  0.883740  0.478742  1.728227 -0.276635
2  0.610853  0.116776  0.536126  0.290321
3 -0.327773 -1.547899 -0.902089 -0.702772
4 -0.469208  0.681009  0.001222  0.658752
5 -0.122917 -0.440927 -0.224085 -0.750705
6 -0.342057 -0.891198  0.455853  0.218112
7  1.333983  0.642554 -1.017232 -0.885637
8 -0.477153 -1.127097 -2.400292  0.240757
9  0.111692  0.879504 -0.411648  0.855135

## Loops & Functions
Conditions and loops are control structures that can be used to repeat statements based on the conditions or loops specified. This can be employed to cycle through data sets or perform a sequence of steps on (or based on) input variables. Function definitions, loops, and conditionals can be combined to produce something useful. The example below will simulate a variable number of coin flips and then produce the summary of results as output.

In [18]:
def coinflip(total_number_of_flips):
    '''
    function 'coinflip' with argument 'total_number_of_flips' for the number of repetitions 
    that returns the number of 'tail' occurrences
    '''
    # Set all starting variables to 0.
    heads = 0
    tails = 0
    current_number_of_flips = 0
    # Start a loop that executes statements while the conditional specified results in 'True'.
    while current_number_of_flips < total_number_of_flips:
        # Generate a random number smaller than 2.
        current_flip = random.randrange(0,2)
        # Increment heads by 1 if the generated number is 0.
        if current_flip == 0:
            heads = heads + 1
        # Increment tails by 1 if the generated number is larger than 0.
        if current_flip == 1:
            tails = tails + 1
        # Increment the flip variable by 1.
        current_number_of_flips += 1
    return [heads, tails]

In [19]:
# Set the number of repetitions.
num_flips = 100

# Call the function and set the output to the variable 'tails'.
coinflip_results = coinflip(num_flips)

# Output the values returned.
print("Heads :", coinflip_results[0])
print("Tails :", coinflip_results[1])

Heads : 51
Tails : 49